<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
        <link href="<%= config.assets.folder_css %>/main.css" media="all" rel="stylesheet" />
     	<script src="<%= config.assets.folder_vendor %>/jquery-1.11.3/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <%- partial('_partials/header') %>
        <%- yield %>
        <%- partial('_partials/footer') %>
    </body>
    <script src="<%= config.assets.folder_js %>/functions.js"></script>
    <script src="<%= config.assets.folder_js %>/main.js"></script>
</html>
